# Ignore Node.js related files and folders
node_modules/
.pnp
.pnp.js
.cache/
.npm

# Ignore built artifacts
build/
dist/

# Ignore environment files
.env*

# Ignore editor and OS files
.idea/
.vscode/
.DS_Store

# Ignore log and temp files
*.log
*.swp
