.spell-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .spell-detail {
    margin-top: 10px;
    font-size: 1rem;
  }
  
  .detail-label {
    font-weight: bold;
  }
